<footer class="footer">
    <div class="informacoes-adicionais">
        <ul class="footer-informacoes">
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
        </ul>
        <hr>
        <img src="assets/image/logo.png" alt="Imagem logo do site">
        <div class="redes-sociais">
            <a href="#"><img src="" alt="Rede social, instagram"></a>
            <a href="#"><img src="" alt=""></a>
            <a href="#"><img src="" alt=""></a>
        </div>
    </div>

</footer>