/*estilização para o rodapé*/
footer {
    background-color: rgba(0, 0, 0);
    width: 100%;
    bottom: 0;
    position: relative;
    height: 38vh;
    display: flex;
    align-items: center;
 }
 
 .redes-sociais {
    display: flex;
    align-items: center;
    justify-content: center;
 }
 
 /*estilização para © 2021, TESTE Ltd, Todos os direitos reservados.*/
 footer p {
    display: flex;
    justify-content: center;
    margin-top: 3%;
 }
 
 /*linha horizontal do footer*/
 hr {
    display: flex;
    justify-content: center;
    width: 90%;
 }
 
 /*estilização para links*/
 .estilizacao-a {
    color: #ffffff;
    text-decoration: none;
 }
 
 /*classe principal do footer*/
 .informacoes-adicionais {
    width: 100%;
 }
 
 /*estilizando logo Petgriffe, no footer*/
 #logo-footer {
    display: flex;
    margin: auto;
    height: 100px;
 }
 
 .informacoes-footer li,
 ul {
    list-style: none;
 }
 
 /* estilizando as informações do footer como, vagas, termos de serviço etc...*/
 .informacoes-footer {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding-left: 5px;
 }
 
 /*class principal de tiktok, instagram e twiter*/
 .redes-sociais {
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
 }
 
 /*estilizando o tamanho delas*/
 #instagram {
    height: 25px;
 }
 
 #twiter {
    height: 30px;
 }
 
 #tiktok {
    height: 27px;
 }
 
 
 /* ----------------------- RESPONSIVIDAE ----------------------- */