 <footer>
        <div class="informacoes-adicionais">
            <ul class="informacoes-footer">
                <li><a href="#" class="estilizacao-a">Política de Privacidade</a></li>
                <li><a href="#" class="estilizacao-a">Política de Frete</a></li>
                <li><a href="#" class="estilizacao-a">Política de Reembolso</a></li>
                <li><a href="#" class="estilizacao-a">Termos de Serviço</a></li>
            </ul>
            <p class="estilizacao-a">© 2023, PetGriffe Ltd, Todos os direitos reservados.</p>
            <hr>
            <img src="assets/image/logo.png" id="logo-footer" alt="Imagem logo da PetGriffe">
            <div class="redes-sociais">
                <a href="https://www.instagram.com/"><img id="instagram" src="assets/image/instagramIcon.png"
                        alt="Rede social, instagram" style="height: 44px; margin-right: 10px;"></a>
                <a href="https://twitter.com/"><img id="twiter" src="assets/image/twitterIcon.png" alt="Rede social, twiter"
                        style="margin-right: 12px;"></a>
                <a href="https://www.tiktok.com/explore"><img id="tiktok" src="assets/image/tiktokIcon.png"
                        alt="Rede social, tiktok" style="height: 30px;"></a>
            </div>
        </div>
    </footer>