
<footer>
    <div class="informacoes-adicionais">
        <ul class="informacoes-footer">
            <li><a href="#" class="estilizacao-a">Contato: petgriffe@gmail.com</a></li>
            <li><a href="#"class="estilizacao-a">Política de Privacidade</a></li>
            <li><a href="#"class="estilizacao-a">Política de Frete</a></li>
            <li><a href="#"class="estilizacao-a">Política de Reembolso</a></li>
            <li><a href="#"class="estilizacao-a">Termos de Serviço</a></li>
            <li><a href="#"class="estilizacao-a">Vagas</a></li>
        </ul>
        <p class="estilizacao-a">© 2021, TESTE Ltd, Todos os direitos reservados.</p>
        <hr>
        <img src="assets/image/logo.png" id="logo-footer" alt="Imagem logo da PetGriffe">
        <div class="redes-sociais">
            <a href="#"><img id="instagram" src="assets/image/instagram.png" alt="Rede social, instagram"></a>
            <a href="#"><img id="twiter" src="assets/image/twiter.png" alt="Rede social, twiter"></a>
            <a href="#"><img id="tiktok" src="assets/image/tiktok.png" alt="Rede social, tiktok"></a>
        </div>
    </div>
</footer>