/* Estilo para o Rodapé */
footer {
    background-color: rgba(0, 0, 0);
    width: 100%;
    bottom: 0;
    position: relative;
    height: 38vh;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1029px) {
    .estilizacao-a {
        color: #ffffff;
        text-decoration: none;
        font-size: 10pt;
        transition: 0.5s;
    }

    footer {
        height: 20vh;
        transition: 0.5s;
    }
}

@media screen and (max-width: 870px) {
    .estilizacao-a {
        color: #ffffff;
        text-decoration: none;
        font-size: 8pt;
        transition: 0.5s;
        padding-left: 10px;
    }

    .informacoes-adicionais .redes-sociais img {
        padding-left: 10px;
    }

    #instagram, #twitwer, #tiktok {
        height: 20px;
        width: 20px;
    }

    .informacoes-footer {
        margin-right: 3%;
    }
}

/* Estilo para a Linha Horizontal do Rodapé */
hr {
    display: flex;
    justify-content: center;
    width: 90%;
}

/* Estilo para os Links */
.estilizacao-a {
    color: #ffffff;
    text-decoration: none;
}

/* Estilo para a Seção Principal do Rodapé */
.informacoes-adicionais {
    width: 100%;
}

/* Estilo para o Logo no Rodapé */
#logo-footer {
    display: flex;
    margin: auto;
    height: 100px;
}

/* Estilo para as Informações do Rodapé como Vagas, Termos de Serviço, etc. */
.informacoes-footer {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding-left: 5px;
}

/* Estilo para as Redes Sociais no Rodapé */
.redes-sociais {
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
}

/* Estilo para o Tamanho das Redes Sociais */
#instagram, #twiter, #tiktok {
    height: 25px;
}

/* Adicione mais estilos conforme necessário */
