<div class="cadastro">
  <img src="assets/image/imagem-cadastro.png" alt="Imagem de cadastro" />
  <form method="post" action="../../model/cadastroUsuarioPost.js">
    <div class="coluna1">
      <input type="text" name="senha" class="inputs" />
      <input type="text" name="cep" class="inputs" />
      <input type="text" name="email" class="inputs" />
    </div>
    <div class="coluna2">
      <input type="text" name="endereco" class="inputs" />
      <input type="text" name="senha" class="inputs" />
      <input type="text" name="senha" class="inputs" />
    </div>
  </form>
</div>
