/*removendo foco das input*/
input:focus, select:focus, textarea:focus{
    outline: 0;
}
#inputPesquisa{
    background-color: #ffffff;
    border: none;
    width: 250px;
}
img{
    height: 17px;
    cursor: pointer;
}
div{
    display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: solid 1px rgb(164, 164, 164);;
  border-radius: 10px;
  width: 300px;
  height: 32px;
  align-items: center;
}