

<div class="login">
    <div class="imglogin">
        <img src="assets/image/imagem-login.png" alt="">
    </div>
    <div class="formulario">
        <label for="lnome">Nome de Usuário</label>
        <input type="text" id="lnome" name="nome" placeholder="Insira seu username">

        <label for="lsenha">Senha</label>
        <input type="text" id="lsenha" name="senha" placeholder="Insira sua senha">

        <div class="enviarlogin">
            <input type="submit" id="lenviar" name="enviar">
        </div>
    </div>
</div>