<header class="header">
<!-- configurando o menu-hamburguer -->
<div class="menu-hamburguer">
<input type="checkbox" class="menu-faketrigger">

    <div class="menu-linhas">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <ul class="navegacao-responsiva" >
        <li><a href="#" class="style-a">Serviços pet</a></li>
        <li><a href="#" class="style-a">Gatos</a></li>
        <li><a href="#" class="style-a">Cachorros</a></li>
        <li><a href="#" class="style-a">Pássaros</a></li>
        <li><a href="#" class="style-a">Família Griffe</a></li>
    </ul>
</div>
    <a href="#" id="logo"><img src="assets/image/logo.png" alt="Imagem logo do site PetGriffe"></a>
    <div class="navegacao-pai">
        <div class="pesquisas">
            <input type="text" placeholder="Buscar..." id="barra-pesquisa" name="barraPesquisa">
            <span id="buscar-botao" class="botao-pesquisa"></span>
        </div>
        <div class="autenticacao-usuario">
            <ul id="cadastro-login">
                <li id="cadastro"><a href="#" class="style-a">Login</a></li>
                <li id="login"><a href="#" class="style-a">Cadastro</a></li>
            </ul>
        </div>
    </div>
    <ul class="navegacao">
        <li><a href="#" class="style-a">Serviços pet</a></li>
        <li><a href="#" class="style-a">Gatos</a></li>
        <li><a href="#" class="style-a">Cachorros</a></li>
        <li><a href="#" class="style-a">Pássaros</a></li>
        <li><a href="#" class="style-a">Família Griffe</a></li>
    </ul>
    <a href="#" class="style-a" id="carrinho-compras"><img src="assets/image/carrinho-compras.png" alt=""></a>
</header>