<div class="row">
  <div class="col-1">
    <div class="menu-hamburguer">
      <input type="checkbox" id="faketrigger" />
      <div class="menu-linhas">
        <span></span>
        <span></span>
        <span></span>
      </div>

      <ul class="navegacao-responsiva">
        <li><a href="/agendamento">Agendar</a></li>
        <li><a href="/gatos">gatos</a></li>
        <li><a href="/cachorros">Cachorros</a></li>
        <li><a href="/passaros">Pássaros</a></li>
        <li><a href="#">Clube Griffe</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/cadastro">Cadastro</a></li>
      </ul>
    </div>

<div class="navbar">

  <div class="icone-logo">
    <a href="/home">
      <img src="assets/image/logo.png" alt="Icone Petgriffe" />
    </a>
  </div>

  <div class="navegacao-links">
    <a href="/agendamento" class="navegar2">Agendar</a>
    <a href="/gatos" class="navegar2">Gatos</a>
    <a href="/cachorros" class="navegar2">Cachorros</a>
    <a href="/passaros" class="navegar2">Pássaros</a>
    <a href="" class="navegar2">Clube Griffe</a>
  </div>
  
  <div class="navegacao">
    <a href="/login" class="navegar">Login</a>
    <p class="pnavegar">e</p>
    <a href="/cadastro" class="navegar">Cadastro</a>

    <div class="carrinho">
      <div class="carrinho-toggle">
        <img src="assets/image/carrinho-compras.png" alt="" />
      </div>
      <div class="carrinho-menu" id="carrinhoMenu">
        <div id="carrinhoElement">
          <!-- Elemento do carrinho de compras -->
        </div>
  </div>
    </div>
  </div>
  
  
</div>
