.header{
    background-color: #3ac9c5;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*estilos para o botão do menu hamburguer*/
.menu-hamburguer{
    display: block;
    font-size: 15px;
    cursor: pointer;
    width: 30%;
    position: initial;
}
.menu-hamburguer ul{
    list-style: none;
}
.navegacao-responsiva{
    display: none;
}
#linha1, #linha2, #linha3{
    width: 25px;
    border: solid 4px #ffffff;
    border-radius: 3px;
}
/*estilos para a navegação responsiva*/
.navegacao-responsiva.toggle{
    display: block;
    animation: slideDown 0.3s ease-in-out;/*animação de deslizamento*/
    background-color: #286967;
    border-radius: 3px;
}

/*definindo a animação de deslizamaneto*/
@keyframes slideDown{
    0%{
        transform: translateX(-100%);
    }
    50%{
        transform: rotateX(100deg);
    }
    100%{
transform: translateX(0);
    }
}
/*estilos para a lista da navegação responsiva quando visível*/
.navegacao-responsiva.show{
    display: block;

}
.style-a{
    text-decoration: none;
    color: #ffffff;
}
#logo {
    align-items: center;
}
#logo img{
    height: 100px;
}
/*removendo o focus da input*/
textarea:focus, select:focus, input:focus{
    outline: 0;
}
.pesquisas {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

  }
  
  #barra-pesquisa {
    width: 400px;
    border-radius: 4px;
    border: solid 0.5px #808080;
    padding-right: 30px;
  }
  
  .botao-pesquisa {
    position: absolute;
    right: 10px; /* Ajuste a posição à direita conforme necessário */
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url('/assets/image/lupa.png');
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  
.navegacao-pai{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    height: 5vh;
}
.navegacao-pai img{
    height: 70px;/*imagem do carrinho*/
}
.autenticacao-usuario{
    display: flex;
    align-items: center;
}
#cadastro-login{
   list-style: none;
   display: flex;
   padding-left: 130px;
}
#cadastro-login li{
    padding-left: 10px;
}
.navegacao{
    display: flex;
    justify-content: center;
    position: fixed;
    margin-top: 140px;
    margin-right: 50px;
}
.navegacao ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.navegacao li{
display: flex;
align-items: center;
}
.navegacao li a{
    text-decoration: none;
    padding: 5px 20px;
}
.navegacao li + li {
    margin-left: 10px;
}
@media screen and (max-width:1300px) {
    #menu-hamburguer{
        display: block;
    }
    .navegacao-responsivo.show{
        display: block;
    }
    #logo img{
        height: 100px;
        margin-top: -10px;
    }
    .navegacao-pai{
        display: flex;
        justify-content: center;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        margin-top: -6%;
        height: 5vh;
        margin-left: 30%;
    }
    .navegacao{
        display: flex;
        justify-content: center;
        margin-top: -2.5%; 
    }
    @media screen and (max-width:1200px) {
        .navegacao, .pesquisas, #cadastro-login li, ul{
            display: none;
            transition: 0.5s;
        }
        #cadastro-login img{
            display: block;
            margin-top: 10%;
        }
        .header{
            display: flex;
            justify-content: center;
            justify-content: space-around;
        }
    }
}