 <!------------------------------------------->

 <div class="containerDog">
    <div class="banner">
        <h1>Cachorro</h1>
    </div>
</div>

<!-- ----------------------- CARDS ----------------------- -->

<div class="tituloCards">
    <h2>Rações e Petiscos!</h2>
</div>

<div id="container1">
    <div id="slider-container1">
        <span onclick="slideRight1()" class="btn"></span>
        <div id="slider1">
            <div class="slide">
                <div class="card">
                    <div class="cardImg">
                        <img src="../assets/image/RaçãoBiofreshCães1.jpg" alt="">
                    </div>
                    <div class="cardBody">
                        <div class="cardTitulo">
                            <p>Ração Biofresh p/ Cães</p>
                        </div>
                        <div class="cardPreco">
                            <p>R$00,00</p>
                        </div>
                        <div class="cardBotao">
                            <button>Comprar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="card">
                    <div class="cardImg">
                        <img src="../assets/image/RaçãoBiofreshCães1.jpg" alt="">
                    </div>
                    <div class="cardBody">
                        <div class="cardTitulo">
                            <p>Ração Biofresh p/ Cães</p>
                        </div>
                        <div class="cardPreco">
                            <p>R$00,00</p>
                        </div>
                        <div class="cardBotao">
                            <button>Comprar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="card">
                    <div class="cardImg">
                        <img src="../assets/image/RaçãoBiofreshCães1.jpg" alt="">
                    </div>
                    <div class="cardBody">
                        <div class="cardTitulo">
                            <p>Ração Biofresh p/ Cães</p>
                        </div>
                        <div class="cardPreco">
                            <p>R$00,00</p>
                        </div>
                        <div class="cardBotao">
                            <button>Comprar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="card">
                    <div class="cardImg">
                        <img src="../assets/image/RaçãoBiofreshCães1.jpg" alt="">
                    </div>
                    <div class="cardBody">
                        <div class="cardTitulo">
                            <p>Ração Biofresh p/ Cães</p>
                        </div>
                        <div class="cardPreco">
                            <p>R$00,00</p>
                        </div>
                        <div class="cardBotao">
                            <button>Comprar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="card">
                    <div class="cardImg">
                        <img src="../assets/image/RaçãoBiofreshCães1.jpg" alt="">
                    </div>
                    <div class="cardBody">
                        <div class="cardTitulo">
                            <p>Ração Biofresh p/ Cães</p>
                        </div>
                        <div class="cardPreco">
                            <p>R$00,00</p>
                        </div>
                        <div class="cardBotao">
                            <button>Comprar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="card">
                    <div class="cardImg">
                        <img src="assets/image/RaçãoBiofresh.jpg" alt="">
                    </div>
                    <div class="cardBody">
                        <div class="cardTitulo">
                            <p>Ração Biofresh p/ Cães</p>
                        </div>
                        <div class="cardBotao">
                            <button>Comprar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="card">
                    <div class="cardImg">
                        <img src="assets/image/RaçãoBiofresh.jpg" alt="">
                    </div>
                    <div class="cardBody">
                        <div class="cardTitulo">
                            <p>Ração Biofresh p/ Cães</p>
                        </div>
                        <div class="cardBotao">
                            <button>Comprar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <span onclick="slideLeft1()" class="btn"></span>
    </div>
</div>

<!-- ----------------------------------------------------- -->

<!-- ----------------------- CARDS ----------------------- -->

<div class="tituloCards">
    <h2>Brinquedos!</h2>
</div>

<!-- Carrossel 2 -->
<div id="container2">
    <div id="slider-container2">
        <span onclick="slideRight2()" class="btn"></span>
        <div id="slider2">
            <div class="slide">
                <div class="card">
                    <div class="cardImg">
                        <img src="../assets/image/RaçãoBiofreshCães1.jpg" alt="">
                    </div>
                    <div class="cardBody">
                        <div class="cardTitulo">
                            <p>Ração Biofresh p/ Cães</p>
                        </div>
                        <div class="cardPreco">
                            <p>R$00,00</p>
                        </div>
                        <div class="cardBotao">
                            <button>Comprar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="card">
                    <div class="cardImg">
                        <img src="../assets/image/RaçãoBiofreshCães1.jpg" alt="">
                    </div>
                    <div class="cardBody">
                        <div class="cardTitulo">
                            <p>Ração Biofresh p/ Cães</p>
                        </div>
                        <div class="cardPreco">
                            <p>R$00,00</p>
                        </div>
                        <div class="cardBotao">
                            <button>Comprar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="card">
                    <div class="cardImg">
                        <img src="../assets/image/RaçãoBiofreshCães1.jpg" alt="">
                    </div>
                    <div class="cardBody">
                        <div class="cardTitulo">
                            <p>Ração Biofresh p/ Cães</p>
                        </div>
                        <div class="cardPreco">
                            <p>R$00,00</p>
                        </div>
                        <div class="cardBotao">
                            <button>Comprar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="card">
                    <div class="cardImg">
                        <img src="../assets/image/RaçãoBiofreshCães1.jpg" alt="">
                    </div>
                    <div class="cardBody">
                        <div class="cardTitulo">
                            <p>Ração Biofresh p/ Cães</p>
                        </div>
                        <div class="cardPreco">
                            <p>R$00,00</p>
                        </div>
                        <div class="cardBotao">
                            <button>Comprar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="card">
                    <div class="cardImg">
                        <img src="../assets/image/RaçãoBiofreshCães1.jpg" alt="">
                    </div>
                    <div class="cardBody">
                        <div class="cardTitulo">
                            <p>Ração Biofresh p/ Cães</p>
                        </div>
                        <div class="cardPreco">
                            <p>R$00,00</p>
                        </div>
                        <div class="cardBotao">
                            <button>Comprar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="card">
                    <div class="cardImg">
                        <img src="assets/image/RaçãoBiofresh.jpg" alt="">
                    </div>
                    <div class="cardBody">
                        <div class="cardTitulo">
                            <p>Ração Biofresh p/ Cães</p>
                        </div>
                        <div class="cardBotao">
                            <button>Comprar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="card">
                    <div class="cardImg">
                        <img src="assets/image/RaçãoBiofresh.jpg" alt="">
                    </div>
                    <div class="cardBody">
                        <div class="cardTitulo">
                            <p>Ração Biofresh p/ Cães</p>
                        </div>
                        <div class="cardBotao">
                            <button>Comprar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <span onclick="slideLeft2()" class="btn"></span>
    </div>
</div>

<!-- ----------------------------------------------------- -->

<!-- ----------------------- CARDS ----------------------- -->

<div class="tituloCards">
    <h2>Acessórios!</h2>
</div>

<!-- Carrossel 3 -->
<div id="container3">
    <div id="slider-container3">
        <span onclick="slideRight3()" class="btn"></span>
        <div id="slider3">
            <div class="slide">
                <div class="card">
                    <div class="cardImg">
                        <img src="../assets/image/RaçãoBiofreshCães1.jpg" alt="">
                    </div>
                    <div class="cardBody">
                        <div class="cardTitulo">
                            <p>Ração Biofresh p/ Cães</p>
                        </div>
                        <div class="cardPreco">
                            <p>R$00,00</p>
                        </div>
                        <div class="cardBotao">
                            <button>Comprar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="card">
                    <div class="cardImg">
                        <img src="../assets/image/RaçãoBiofreshCães1.jpg" alt="">
                    </div>
                    <div class="cardBody">
                        <div class="cardTitulo">
                            <p>Ração Biofresh p/ Cães</p>
                        </div>
                        <div class="cardPreco">
                            <p>R$00,00</p>
                        </div>
                        <div class="cardBotao">
                            <button>Comprar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="card">
                    <div class="cardImg">
                        <img src="../assets/image/RaçãoBiofreshCães1.jpg" alt="">
                    </div>
                    <div class="cardBody">
                        <div class="cardTitulo">
                            <p>Ração Biofresh p/ Cães</p>
                        </div>
                        <div class="cardPreco">
                            <p>R$00,00</p>
                        </div>
                        <div class="cardBotao">
                            <button>Comprar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="card">
                    <div class="cardImg">
                        <img src="../assets/image/RaçãoBiofreshCães1.jpg" alt="">
                    </div>
                    <div class="cardBody">
                        <div class="cardTitulo">
                            <p>Ração Biofresh p/ Cães</p>
                        </div>
                        <div class="cardPreco">
                            <p>R$00,00</p>
                        </div>
                        <div class="cardBotao">
                            <button>Comprar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="card">
                    <div class="cardImg">
                        <img src="../assets/image/RaçãoBiofreshCães1.jpg" alt="">
                    </div>
                    <div class="cardBody">
                        <div class="cardTitulo">
                            <p>Ração Biofresh p/ Cães</p>
                        </div>
                        <div class="cardPreco">
                            <p>R$00,00</p>
                        </div>
                        <div class="cardBotao">
                            <button>Comprar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="card">
                    <div class="cardImg">
                        <img src="assets/image/RaçãoBiofresh.jpg" alt="">
                    </div>
                    <div class="cardBody">
                        <div class="cardTitulo">
                            <p>Ração Biofresh p/ Cães</p>
                        </div>
                        <div class="cardBotao">
                            <button>Comprar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="card">
                    <div class="cardImg">
                        <img src="assets/image/RaçãoBiofresh.jpg" alt="">
                    </div>
                    <div class="cardBody">
                        <div class="cardTitulo">
                            <p>Ração Biofresh p/ Cães</p>
                        </div>
                        <div class="cardBotao">
                            <button>Comprar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <span onclick="slideLeft3()" class="btn"></span>
    </div>
</div>

<!-- ----------------------------------------------------- -->



<!-- ----------------------- CARDS ----------------------- -->

<div class="tituloCards">
    <h2>Conforto!</h2>
</div>

<div id="container4">
    <div id="slider-container4">
        <span onclick="slideRight4()" class="btn"></span>
        <div id="slider4">
            <div class="slide">
                <div class="card">
                    <div class="cardImg">
                        <img src="../assets/image/RaçãoBiofreshCães1.jpg" alt="">
                    </div>
                    <div class="cardBody">
                        <div class="cardTitulo">
                            <p>Ração Biofresh p/ Cães</p>
                        </div>
                        <div class="cardPreco">
                            <p>R$00,00</p>
                        </div>
                        <div class="cardBotao">
                            <button>Comprar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="card">
                    <div class="cardImg">
                        <img src="../assets/image/RaçãoBiofreshCães1.jpg" alt="">
                    </div>
                    <div class="cardBody">
                        <div class="cardTitulo">
                            <p>Ração Biofresh p/ Cães</p>
                        </div>
                        <div class="cardPreco">
                            <p>R$00,00</p>
                        </div>
                        <div class="cardBotao">
                            <button>Comprar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="card">
                    <div class="cardImg">
                        <img src="../assets/image/RaçãoBiofreshCães1.jpg" alt="">
                    </div>
                    <div class="cardBody">
                        <div class="cardTitulo">
                            <p>Ração Biofresh p/ Cães</p>
                        </div>
                        <div class="cardPreco">
                            <p>R$00,00</p>
                        </div>
                        <div class="cardBotao">
                            <button>Comprar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="card">
                    <div class="cardImg">
                        <img src="../assets/image/RaçãoBiofreshCães1.jpg" alt="">
                    </div>
                    <div class="cardBody">
                        <div class="cardTitulo">
                            <p>Ração Biofresh p/ Cães</p>
                        </div>
                        <div class="cardPreco">
                            <p>R$00,00</p>
                        </div>
                        <div class="cardBotao">
                            <button>Comprar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="card">
                    <div class="cardImg">
                        <img src="../assets/image/RaçãoBiofreshCães1.jpg" alt="">
                    </div>
                    <div class="cardBody">
                        <div class="cardTitulo">
                            <p>Ração Biofresh p/ Cães</p>
                        </div>
                        <div class="cardPreco">
                            <p>R$00,00</p>
                        </div>
                        <div class="cardBotao">
                            <button>Comprar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="card">
                    <div class="cardImg">
                        <img src="assets/image/RaçãoBiofresh.jpg" alt="">
                    </div>
                    <div class="cardBody">
                        <div class="cardTitulo">
                            <p>Ração Biofresh p/ Cães</p>
                        </div>
                        <div class="cardBotao">
                            <button>Comprar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="card">
                    <div class="cardImg">
                        <img src="assets/image/RaçãoBiofresh.jpg" alt="">
                    </div>
                    <div class="cardBody">
                        <div class="cardTitulo">
                            <p>Ração Biofresh p/ Cães</p>
                        </div>
                        <div class="cardBotao">
                            <button>Comprar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <span onclick="slideLeft4()" class="btn"></span>
    </div>
</div>

<!-- ----------------------------------------------------- -->