<div class="tituloCards">
    <h2>Rações e Petiscos</h2>
</div>

<section class="racoesEpetiscos">
    <div class="card">
        <div class="cardImg">
            <img src="assets/image/RaçãoBiofreshCães1.jpg" alt="">
        </div>
        <div class="cardBody">
            <div class="cardTitulo">
                <p>Ração Biofresh p/ Cães</p>
            </div>
            <div class="cardPreco">
                <p>R$00,00</p>
            </div>
            <div class="cardBotao">
                <button>Comprar</button>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="cardImg">
            <img src="assets/image/RaçãoBiofreshCães1.jpg" alt="">
        </div>
        <div class="cardBody">
            <div class="cardTitulo">
                <p>Ração Biofresh p/ Cães</p>
            </div>
            <div class="cardPreco">
                <p>R$00,00</p>
            </div>
            <div class="cardBotao">
                <button>Comprar</button>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="cardImg">
            <img src="assets/image/RaçãoBiofreshCães2.jpg" alt="">
        </div>
        <div class="cardBody">
            <div class="cardTitulo">
                <p>Ração Biofresh p/ Cães</p>
            </div>
            <div class="cardPreco">
                <p>R$00,00</p>
            </div>
            <div class="cardBotao">
                <button>Comprar</button>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="cardImg">
            <img src="assets/image/RaçãoBiofreshCães2.jpg" alt="">
        </div>
        <div class="cardBody">
            <div class="cardTitulo">
                <p>Ração Biofresh p/ Cães</p>
            </div>
            <div class="cardPreco">
                <p>R$00,00</p>
            </div>
            <div class="cardBotao">
                <button>Comprar</button>
            </div>
        </div>
    </div>

</section>

<!-- ----------------------------------------------------- -->

<!-- ----------------------- CARDS ----------------------- -->

<div class="tituloCards">
    <h2>Brinquedos</h2>
</div>

<section class="brinquedos">
    <div class="card">
        <div class="cardImg">
            <img src="assets/image/BriquedoCachorro.png" alt="" style="width: 190px;">
        </div>
        <div class="cardBody">
            <div class="cardTitulo">
                <p>Macaco Pelúcia p/ Cães</p>
            </div>
            <div class="cardPreco">
                <p>R$00,00</p>
            </div>
            <div class="cardBotao">
                <button>Comprar</button>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="cardImg">
            <img src="assets/image/BriquedoCachorro.png" alt="" style="width: 190px;">
        </div>
        <div class="cardBody">
            <div class="cardTitulo">
                <p>Macaco Pelúcia p/ Cães</p>
            </div>
            <div class="cardPreco">
                <p>R$00,00</p>
            </div>
            <div class="cardBotao">
                <button>Comprar</button>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="cardImg">
            <img src="assets/image/BriquedoCachorro.png" alt="" style="width: 190px;">
        </div>
        <div class="cardBody">
            <div class="cardTitulo">
                <p>Macaco Pelúcia p/ Cães</p>
            </div>
            <div class="cardPreco">
                <p>R$00,00</p>
            </div>
            <div class="cardBotao">
                <button>Comprar</button>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="cardImg">
            <img src="assets/image/BriquedoCachorro.png" alt="" style="width: 190px;">
        </div>
        <div class="cardBody">
            <div class="cardTitulo">
                <p>Macaco Pelúcia p/ Cães</p>
            </div>
            <div class="cardPreco">
                <p>R$00,00</p>
            </div>
            <div class="cardBotao">
                <button>Comprar</button>
            </div>
        </div>
    </div>

</section>

<!-- ----------------------------------------------------- -->

<!-- ----------------------- CARDS ----------------------- -->

<div class="tituloCards">
    <h2>Acessórios</h2>
</div>

<section class="acessorios">
    <div class="card">
        <div class="cardImg">
            <img src="assets/image/ColeiraCachorro1.png" alt="" style="width: 190px;">
        </div>
        <div class="cardBody">
            <div class="cardTitulo">
                <p>Peitoral Zee.Dog Ultimate</p>
            </div>
            <div class="cardPreco">
                <p>R$00,00</p>
            </div>
            <div class="cardBotao">
                <button>Comprar</button>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="cardImg">
            <img src="assets/image/ColeiraCachorro1.png" alt="" style="width: 190px;">
        </div>
        <div class="cardBody">
            <div class="cardTitulo">
                <p>Peitoral Zee.Dog Ultimate</p>
            </div>
            <div class="cardPreco">
                <p>R$00,00</p>
            </div>
            <div class="cardBotao">
                <button>Comprar</button>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="cardImg">
            <img src="assets/image/ColeiraCachorro2.png" alt="" style="width: 190px;">
        </div>
        <div class="cardBody">
            <div class="cardTitulo">
                <p>Peitoral Zee.Dog Ultimate</p>
            </div>
            <div class="cardPreco">
                <p>R$00,00</p>
            </div>
            <div class="cardBotao">
                <button>Comprar</button>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="cardImg">
            <img src="assets/image/ColeiraCachorro2.png" alt="" style="width: 190px;">
        </div>
        <div class="cardBody">
            <div class="cardTitulo">
                <p>Peitoral Zee.Dog Ultimate</p>
            </div>
            <div class="cardPreco">
                <p>R$00,00</p>
            </div>
            <div class="cardBotao">
                <button>Comprar</button>
            </div>
        </div>
    </div>

</section>

<!-- ----------------------------------------------------- -->

<!-- ----------------------- CARDS ----------------------- -->

<div class="tituloCards">
    <h2>Conforto</h2>
</div>

<section class="conforto">
    <div class="card">
        <div class="cardImg">
            <img src="assets/image/CamaCachorro3.jpg" alt="" style="width: 180px; height: 180px; margin-top: 22px;">
        </div>
        <div class="cardBody">
            <div class="cardTitulo">
                <p>Cama THRONE p/ Cachorro</p>
            </div>
            <div class="cardPreco">
                <p>R$00,00</p>
            </div>
            <div class="cardBotao">
                <button>Comprar</button>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="cardImg">
            <img src="assets/image/CamaCachorro3.jpg" alt="" style="width: 180px; height: 180px; margin-top: 22px;">
        </div>
        <div class="cardBody">
            <div class="cardTitulo">
                <p>Cama THRONE p/ Cachorro</p>
            </div>
            <div class="cardPreco">
                <p>R$00,00</p>
            </div>
            <div class="cardBotao">
                <button>Comprar</button>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="cardImg">
            <img src="assets/image/CamaCachorro3.jpg" alt="" style="width: 180px; height: 180px; margin-top: 22px;">
        </div>
        <div class="cardBody">
            <div class="cardTitulo">
                <p>Cama THRONE p/ Cachorro</p>
            </div>
            <div class="cardPreco">
                <p>R$00,00</p>
            </div>
            <div class="cardBotao">
                <button>Comprar</button>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="cardImg">
            <img src="assets/image/CamaCachorro3.jpg" alt="" style="width: 180px; height: 180px; margin-top: 22px;">
        </div>
        <div class="cardBody">
            <div class="cardTitulo">
                <p>Cama THRONE p/ Cachorro</p>
            </div>
            <div class="cardPreco">
                <p>R$00,00</p>
            </div>
            <div class="cardBotao">
                <button>Comprar</button>
            </div>
        </div>
    </div>

</section>

<!-- ----------------------------------------------------- -->