body {
  background-color: #ffffff;
  margin: 0;
}

body::-webkit-scrollbar {
  width: 7px;
  transition: 1s;
}

body::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
  border-radius: 50px;
  transition: 1s;
}

body::-webkit-scrollbar-thumb {
  background-color: #3ac9c5;
  border-radius: 16px;
  transition: 1s;
}

body::-moz-scrollbar {
  width: 7px;
  transition: 1s;
}

body::-moz-scrollbar-track {
  background: rgb(255, 255, 255);
  border-radius: 50px;
  transition: 1s;
}

body::-moz-scrollbar-thumb {
  background-color: #3ac9c5;
  border-radius: 16px;
  transition: 1s;
}

body {
  background-color: #ffffff;
  margin: 0;
}

body::-webkit-scrollbar {
  width: 7px;
  transition: 1s;
}

body::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
  border-radius: 50px;
  transition: 1s;
}

body::-webkit-scrollbar-thumb {
  background-color: #3ac9c5;
  border-radius: 16px;
  transition: 1s;
}

body::-moz-scrollbar {
  width: 7px;
  transition: 1s;
}

body::-moz-scrollbar-track {
  background: rgb(255, 255, 255);
  border-radius: 50px;
  transition: 1s;
}

body::-moz-scrollbar-thumb {
  background-color: #3ac9c5;
  border-radius: 16px;
  transition: 1s;
}

/* -----------------------  NAVBAR ----------------------- */

.col-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #3ac9c5;
  margin-bottom: 25px;
}

.navIcon img {
  width: 95px;
}

.carrinho img {
  width: 80px;
  height: 70px;
}

.menu-toggle img {
  width: 60px;
  height: 60px;
}

.navegar2 {
  font-family: "Bevan", serif;
  font-size: 15px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin: 0 15px;
  transition: 0.3s;
}

.navegar:hover,
.navegar2:hover {
  color: #fcb212;
}

.menu a {
 font-family: "Bevan", serif;
 font-size: 15px;
 text-decoration: none;
 transition: 0.3s;
}

.menu a:hover {
 color: #fcb212;
}

/* -----------------------  XXXXXX ----------------------- */

/* -----------------------  CARRINHO E MENUHAMBURGER ----------------------- */

/* Estilos para o ícone do menu */
.menu-toggle {
  cursor: pointer;
  display: none;
}

/* Estilos para o menu */
.menu {
  position: fixed;
  top: 0;
  left: -250px;
  /* Esconde o menu inicialmente */
  width: 250px;
  height: 100%;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 999;
  transition: left 0.40s ease;
  /* Adiciona uma transição suave */
}

/* Estilos para o botão de fechar */
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 20px;
  color: #000;
}

.close-btn img {
  width: 15px;
  height: 15px;
}

.menu ul {
  list-style: none;
  padding: 20px 0;
  margin: 0;
}

.menu ul li {
  padding: 10px 20px;
}

.menu ul li a {
  text-decoration: none;
  color: #333333;
  font-size: 18px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/* -----------------------  XXXXXX ----------------------- */


.cadastro {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 900px;
  height: auto;
  background: #eeeeee;
  border-radius: 20px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.cadastro .imgCadastro {
  width: 100%;
}

.cadastro .imgCadastro img {
  width: 100%;
  border-radius: 20px;
}

.formularios {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-top: 20px;
}

.formulario,
.formulario2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 45%; /* Cada formulário ocupa 45% do espaço */
}

.formulario input,
.formulario2 input {
  width: calc(100% - 10px); /* Para levar em consideração a borda de 2px (5px de cada lado) */
  height: 30px;
  margin-top: 7px;
  border: solid 2px #000000;
  border-radius: 17px;
}

.formulario label,
.formulario2 label {
  font-family: 'Lilita One', sans-serif;
}

.formulario input:not(:last-child),
.formulario2 input:not(:last-child) {
  margin-bottom: 30px;
}

.formulario3 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Espaço entre os formulários e o botão */
}

.enviarCadastro input {
  width: 150px;
  height: 45px;
  border-radius: 27px;
  border: none;
  background: #3ac9c5;
  color: #ffffff;
  font-weight: 700;
  font-size: 17px;
  cursor: pointer;
  transition: 0.30s;
}

.enviarCadastro input:hover {
  background: #41dfd9;
}



@media screen and (max-width: 1280px) {

  .menu {
     display: block;
     /* Exibir o menu */
  }

  .close-btn {
     display: block;
     /* Exibir o botão fechar */
  }

  .menu-toggle {
     display: block;
     /* Exibir o ícone do menu */
  }

  .col-1 {
     margin-bottom: 20px;
  }

  .navegacao2 {
    display: none;
   }

   .cadastro {
    width: 700px;
   }

}


@media screen and (max-width: 840px) {

  .menu {
     display: block;
     /* Exibir o menu */
  }

  .close-btn {
     display: block;
     /* Exibir o botão fechar */
  }

  .menu-toggle {
     display: block;
     /* Exibir o ícone do menu */
  }

  .col-1 {
     margin-bottom: 20px;
  }

  .navegacao2 {
    display: none;
   }

   .cadastro {
    width: 500px;
   }

}


@media screen and (max-width: 610px) {

  .menu {
     display: block;
     /* Exibir o menu */
  }

  .close-btn {
     display: block;
     /* Exibir o botão fechar */
  }

  .menu-toggle {
     display: block;
     /* Exibir o ícone do menu */
  }

  .col-1 {
     margin-bottom: 20px;
  }

  .navegacao2 {
    display: none;
   }
}


/* Estilos para telas menores usando Media Queries */
@media screen and (max-width: 768px) {

  .menu {
     display: block;
     /* Exibir o menu */
  }

  .close-btn {
     display: block;
     /* Exibir o botão fechar */
  }

  .menu-toggle {
     display: block;
     /* Exibir o ícone do menu */
  }

  .col-1 {
     margin-bottom: 20px;
  }

  .navegacao2 {
    display: none;
   }

}