<!-- ----------------------- CARROSSEL ----------------------- -->

<div class="carrossel">
    <div class="imagens">
        <input type="radio" name="radio-btn" id="radio1">
        <input type="radio" name="radio-btn" id="radio2">
        <input type="radio" name="radio-btn" id="radio3">
        <input type="radio" name="radio-btn" id="radio4">

        <div class="imagem first">
            <a href="">
                <img src="assets/image/CarrosselSaúde.png" alt="Imagem 1 Carrosel">
            </a>
        </div>
        <div class="imagem">
            <a href="">
                <img src="assets/image/CarrosselTopVendas.png" alt="Imagem 2 Carrosel">
            </a>
        </div>
        <div class="imagem">
            <a href="">
                <img src="assets/image/CarrosselBanho&Tosa.png" alt="Imagem 3 Carrosel">
            </a>
        </div>
        <div class="imagem">
            <a href="">
                <img src="assets/image/CarrosselFamiliaGriffe.png" alt="Imagem 4 Carrosel">
            </a>
        </div>

        <div class="botoes">
            <div class="anterior" onclick="mudarImagem(-1)"><img src="assets/image/setaCarrossel2.png" alt="Seta Voltar">
            </div>
            <div class="proximo" onclick="mudarImagem(1)"><img src="assets/image/setaCarrossel1.png" alt="Seta Avançar">
            </div>
        </div>

        <div class="autoNav">
            <div class="auto-btn1"></div>
            <div class="auto-btn2"></div>
            <div class="auto-btn3"></div>
            <div class="auto-btn4"></div>
        </div>

    </div>

    <div class="manualNav">
        <label for="radio1" class="manual-btn"></label>
        <label for="radio2" class="manual-btn"></label>
        <label for="radio3" class="manual-btn"></label>
        <label for="radio4" class="manual-btn"></label>
    </div>

</div>
<!---------------------------------------------------------------->

<!-- <div class="container"> -->

<section class="categorias">
    <div class="cardC">
        <div class="cardCImg">
            <a href="/cachorros">
                <img src="assets/image/categoriaCachorro.png" alt="Categoria Cachorro">
            </a>
        </div>
        <div class="cardCBody">
            <div class="cardCTitulo">
                <h2>Cachorro</h2>
            </div>
        </div>
    </div>

    <div class="cardC">
        <div class="cardCImg">
            <a href="/gatos">
                <img src="assets/image/categoriaGato.png" alt="Categoria Gato">
            </a>
        </div>
        <div class="cardCBody">
            <div class="cardCTitulo">
                <h2>Gato</h2>
            </div>
        </div>
    </div>

    <div class="cardC">
        <div class="cardCImg">
            <a href="/passaros">
                <img src="assets/image/categoriaPassaro.png" alt="Categoria Pássaro">
            </a>
        </div>
        <div class="cardCBody">
            <div class="cardCTitulo">
                <h2>Pássaro</h2>
            </div>
        </div>
    </div>
</section>