<div class="tituloCards">
    <h2>Rações e Petiscos</h2>
</div>

<section class="racoesEpetiscos">
    <div class="card">
        <div class="cardImg">
            <img src="assets/image/RaçãoBiofreshGatos1.jpg" alt="">
        </div>
        <div class="cardBody">
            <div class="cardTitulo">
                <p>Ração Biofresh p/ Gatos</p>
            </div>
            <div class="cardPreco">
                <p>R$00,00</p>
            </div>
            <div class="cardBotao">
                <button>Comprar</button>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="cardImg">
            <img src="assets/image/RaçãoBiofreshGatos2.jpg" alt="">
        </div>
        <div class="cardBody">
            <div class="cardTitulo">
                <p>Ração Biofresh p/ Gatos</p>
            </div>
            <div class="cardPreco">
                <p>R$00,00</p>
            </div>
            <div class="cardBotao">
                <button>Comprar</button>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="cardImg">
            <img src="assets/image/RaçãoGranPlusGato.jpg" alt="">
        </div>
        <div class="cardBody">
            <div class="cardTitulo">
                <p>Ração Granplus p/ Gato</p>
            </div>
            <div class="cardPreco">
                <p>R$00,00</p>
            </div>
            <div class="cardBotao">
                <button>Comprar</button>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="cardImg">
            <img src="assets/image/RaçãoGoldenGato.jpg" alt="">
        </div>
        <div class="cardBody">
            <div class="cardTitulo">
                <p>Ração Golden p/ Gatos</p>
            </div>
            <div class="cardPreco">
                <p>R$00,00</p>
            </div>
            <div class="cardBotao">
                <button>Comprar</button>
            </div>
        </div>
    </div>

</section>

<!-- ----------------------------------------------------- -->

<!-- ----------------------- CARDS ----------------------- -->

<div class="tituloCards">
    <h2>Brinquedos</h2>
</div>

<section class="brinquedos">
    <div class="card">
        <div class="cardImg">
            <img src="assets/image/ArranhadorPlayground.jpg" alt="">
        </div>
        <div class="cardBody">
            <div class="cardTitulo">
                <p>Arranhador Playground</p>
            </div>
            <div class="cardPreco">
                <p>R$00,00</p>
            </div>
            <div class="cardBotao">
                <button>Comprar</button>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="cardImg">
            <img src="assets/image/ArranhadorComBolinha.jpg" alt="">
        </div>
        <div class="cardBody">
            <div class="cardTitulo">
                <p>Arranhador com Bolinha</p>
            </div>
            <div class="cardPreco">
                <p>R$00,00</p>
            </div>
            <div class="cardBotao">
                <button>Comprar</button>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="cardImg">
            <img src="assets/image/BrinquedoInterativoGato.jpg" alt="" style="width: 180px;">
        </div>
        <div class="cardBody">
            <div class="cardTitulo">
                <p>Brinquedo Interativo</p>
            </div>
            <div class="cardPreco">
                <p>R$00,00</p>
            </div>
            <div class="cardBotao">
                <button>Comprar</button>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="cardImg">
            <img src="assets/image/VarinhaParaGatos.png" alt="">
        </div>
        <div class="cardBody">
            <div class="cardTitulo">
                <p>Varinha Plumada</p>
            </div>
            <div class="cardPreco">
                <p>R$00,00</p>
            </div>
            <div class="cardBotao">
                <button>Comprar</button>
            </div>
        </div>
    </div>

</section>

<!-- ----------------------------------------------------- -->

<!-- ----------------------- CARDS ----------------------- -->

<div class="tituloCards">
    <h2>Acessórios</h2>
</div>

<section class="acessorios">
    <div class="card">
        <div class="cardImg">
            <img src="assets/image/BebedouroGato.jpg" alt="" style="width: 180px;">
        </div>
        <div class="cardBody">
            <div class="cardTitulo">
                <p>Fonte Bebedouro Mini</p>
            </div>
            <div class="cardPreco">
                <p>R$00,00</p>
            </div>
            <div class="cardBotao">
                <button>Comprar</button>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="cardImg">
            <img src="assets/image/ComedouroGato.jpg" alt="" style="width: 180px;">
        </div>
        <div class="cardBody">
            <div class="cardTitulo">
                <p>Comedouro Mr. Bigode</p>
            </div>
            <div class="cardPreco">
                <p>R$00,00</p>
            </div>
            <div class="cardBotao">
                <button>Comprar</button>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="cardImg">
            <img src="assets/image/ColeiraGato.png" alt="" style="width: 190px;">
        </div>
        <div class="cardBody">
            <div class="cardTitulo">
                <p>Coleira Zee.Cat Ultimate</p>
            </div>
            <div class="cardPreco">
                <p>R$00,00</p>
            </div>
            <div class="cardBotao">
                <button>Comprar</button>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="cardImg">
            <img src="assets/image/EscovaGato.jpg" alt="" style="width: 190px;">
        </div>
        <div class="cardBody">
            <div class="cardTitulo">
                <p>Escova Automática</p>
            </div>
            <div class="cardPreco">
                <p>R$00,00</p>
            </div>
            <div class="cardBotao">
                <button>Comprar</button>
            </div>
        </div>
    </div>

</section>

<!-- ----------------------------------------------------- -->

<!-- ----------------------- CARDS ----------------------- -->

<div class="tituloCards">
    <h2>Conforto</h2>
</div>

<section class="conforto">
    <div class="card">
        <div class="cardImg">
            <img src="assets/image/TocaGato.jpg" alt="" style="width: 180px;">
        </div>
        <div class="cardBody">
            <div class="cardTitulo">
                <p>Mingzhe Barraca p/ Pets</p>
            </div>
            <div class="cardPreco">
                <p>R$00,00</p>
            </div>
            <div class="cardBotao">
                <button>Comprar</button>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="cardImg">
            <img src="assets/image/CamaGato.jpg" alt="Cama Cozy de Gato" style="width: 180px;">
        </div>
        <div class="cardBody">
            <div class="cardTitulo">
                <p>Cama Cozy p/ Pets</p>
            </div>
            <div class="cardPreco">
                <p>R$00,00</p>
            </div>
            <div class="cardBotao">
                <button>Comprar</button>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="cardImg">
            <img src="assets/image/CamaTubarãoGato.jpg" alt="" style="width: 180px;">
        </div>
        <div class="cardBody">
            <div class="cardTitulo">
                <p>Toca de Tubarão p/ Pets</p>
            </div>
            <div class="cardPreco">
                <p>R$00,00</p>
            </div>
            <div class="cardBotao">
                <button>Comprar</button>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="cardImg">
            <img src="assets/image/TocaFabricaPet.jpg" alt="" style="width: 180px;">
        </div>
        <div class="cardBody">
            <div class="cardTitulo">
                <p>Cabana Fábrica Pet</p>
            </div>
            <div class="cardPreco">
                <p>R$00,00</p>
            </div>
            <div class="cardBotao">
                <button>Comprar</button>
            </div>
        </div>
    </div>

</section>

<!-- ----------------------------------------------------- -->


