<section class="categorias">
    <div class="cardC">
        <div class="cardCImg">
            <a href="../animais/cachorro.html">
                <img src="../img/categoriaCachorro.png" alt="Categoria Cachorro">
            </a>
        </div>
        <div class="cardCBody">
            <div class="cardCTitulo">
                <h2>Cachorro</h2>
            </div>
        </div>
    </div>

    <div class="cardC">
        <div class="cardCImg">
            <a href="../animais/gato.html">
                <img src="../img/categoriaGato.png" alt="Categoria Gato">
            </a>
        </div>
        <div class="cardCBody">
            <div class="cardCTitulo">
                <h2>Gato</h2>
            </div>
        </div>
    </div>

    <div class="cardC">
        <div class="cardCImg">
            <a href="../animais/passaro.html">
                <img src="../img/CategoriaPassaro.png" alt="Categoria Pássaro">
            </a>
        </div>
        <div class="cardCBody">
            <div class="cardCTitulo">
                <h2>Pássaro</h2>
            </div>
        </div>
    </div>
</section>