<div class="container">
    <div class="categoria">
        <img id="img-passaro" src="assets/image/passaro.png" alt="">
        <p>Pássaros</p>
    </div>
    <div class="linha-produtos">
        <div class="cards">
            <img src="assets/image/capivara.png" alt="">
            <div class="acoes-produtos">
                <input class="adicionar-carrinho" type="button" value="Adicionar ao Carrinho">
                <input class="descricao-produto" type="button" value="!" title="Esta descrição e um exemplo">
            </div>
            <p class="preco-produto">R$ 200,00</p>

        </div>

        <div class="cards">
            <img src="assets/image/capivara.png" alt="">
            <div class="acoes-produtos">
                <input class="adicionar-carrinho" type="button" value="Adicionar ao Carrinho">
                <input class="descricao-produto" type="button" value="!" title="Esta descrição e um exemplo">
            </div>
            <p class="preco-produto">R$ 200,00</p>

        </div>

        <div class="cards">
            <img src="assets/image/capivara.png" alt="">
            <div class="acoes-produtos">
                <input class="adicionar-carrinho" type="button" value="Adicionar ao Carrinho">
                <input class="descricao-produto" type="button" value="!" title="Esta descrição e um exemplo" >
            </div>
            <p class="preco-produto">R$ 200,00</p>
        </div>
    </div>
</div>