<div class="container">
    <div class="categoria">
        <img id="img-passaro" src="assets/image/passaro.png" alt="">
        <p>Pássaros</p>
    </div>
    <div class="linha-produtos">
<div class="cards">
    <img src="assets/image/capivara.png" alt="">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam neque voluptate deleniti magni, odit minus.</p>
</div>

<div class="cards">
    <img src="assets/image/capivara.png" alt="">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam neque voluptate deleniti magni, odit minus.</p>
</div>

<div class="cards">
    <img src="assets/image/capivara.png" alt="">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam neque voluptate deleniti magni, odit minus.</p>
</div>
    </div>
</div>