.tituloCards {
    display: flex;
    justify-content: center;
    position: relative;
    top: 100px;
    font-family: 'Bevan', serif;
}

.maisVendidos, .promocoes, .recomendados {
    margin-top: 115px;
    display: flex;
    justify-content: center;
}


.card {
    width: 170px;
    height: 350px;
    border: solid 2px #d4d4d4;
    background-color: #ffffff;
    border-radius: 10px;
}

.card:not(:last-child) {
    margin-right: 75px;
}

.card .cardImg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .cardImg img {
    width: 120px;
    height: 200px;
    border-top-right-radius: 7.5px;
    border-top-left-radius: 7.5px;
}

.card .cardBody .cardTitulo, .cardPreco {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .cardBody .cardTitulo p{
    font-family: 'Lilita One', sans-serif;
}

.card .cardBody .cardPreco p{
    font-family: 'Lilita One', sans-serif;
}

.card .cardBody .cardBotao {
    display: flex;
    justify-content: center;
}

.cardBotao button {
    border: solid 1px #027674; 
    border-radius: 10px;
    width: 100px;
    height: 30px;
    font-size: 17px;
    font-weight: 600;
    background: #01bbb9;
    color: #fff;
    cursor: pointer;
    transition: 0.32s; 
}

.cardBotao button:hover {
    background: #FCB212;
    border: solid 1px #ab790d;
}