<div class="tituloCards">
    <h2>Mais Vendidos!</h2>
</div>

    <div id="container">
        <div id="slider-container">
            <span onclick="slideRight()" class="btn"></span>
            <div id="slider">
                <div class="slide">
                    <div class="card">
                        <div class="cardImg">
                            <img src="../img/RaçãoBiofreshCães1.jpg" alt="">
                        </div>
                        <div class="cardBody">
                            <div class="cardTitulo">
                                <p>Ração Biofresh p/ Cães</p>
                            </div>
                            <div class="cardPreco">
                                <p>R$00,00</p>
                            </div>
                            <div class="cardBotao">
                                <button>Comprar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="card">
                        <div class="cardImg">
                            <img src="../img/RaçãoBiofreshCães1.jpg" alt="">
                        </div>
                        <div class="cardBody">
                            <div class="cardTitulo">
                                <p>Ração Biofresh p/ Cães</p>
                            </div>
                            <div class="cardPreco">
                                <p>R$00,00</p>
                            </div>
                            <div class="cardBotao">
                                <button>Comprar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="card">
                        <div class="cardImg">
                            <img src="../img/RaçãoBiofreshCães1.jpg" alt="">
                        </div>
                        <div class="cardBody">
                            <div class="cardTitulo">
                                <p>Ração Biofresh p/ Cães</p>
                            </div>
                            <div class="cardPreco">
                                <p>R$00,00</p>
                            </div>
                            <div class="cardBotao">
                                <button>Comprar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="card">
                        <div class="cardImg">
                            <img src="../img/RaçãoBiofreshCães1.jpg" alt="">
                        </div>
                        <div class="cardBody">
                            <div class="cardTitulo">
                                <p>Ração Biofresh p/ Cães</p>
                            </div>
                            <div class="cardPreco">
                                <p>R$00,00</p>
                            </div>
                            <div class="cardBotao">
                                <button>Comprar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="card">
                        <div class="cardImg">
                            <img src="../img/RaçãoBiofreshCães1.jpg" alt="">
                        </div>
                        <div class="cardBody">
                            <div class="cardTitulo">
                                <p>Ração Biofresh p/ Cães</p>
                            </div>
                            <div class="cardPreco">
                                <p>R$00,00</p>
                            </div>
                            <div class="cardBotao">
                                <button>Comprar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="card">
                        <div class="cardImg">
                            <img src="img/RaçãoBiofresh.jpg" alt="">
                        </div>
                        <div class="cardBody">
                            <div class="cardTitulo">
                                <p>Ração Biofresh p/ Cães</p>
                            </div>
                            <div class="cardBotao">
                                <button>Comprar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="card">
                        <div class="cardImg">
                            <img src="img/RaçãoBiofresh.jpg" alt="">
                        </div>
                        <div class="cardBody">
                            <div class="cardTitulo">
                                <p>Ração Biofresh p/ Cães</p>
                            </div>
                            <div class="cardBotao">
                                <button>Comprar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="card">
                        <div class="cardImg">
                            <img src="img/RaçãoBiofresh.jpg" alt="">
                        </div>
                        <div class="cardBody">
                            <div class="cardTitulo">
                                <p>Ração Biofresh p/ Cães</p>
                            </div>
                            <div class="cardBotao">
                                <button>Comprar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="card">
                        <div class="cardImg">
                            <img src="img/RaçãoBiofresh.jpg" alt="">
                        </div>
                        <div class="cardBody">
                            <div class="cardTitulo">
                                <p>Ração Biofresh p/ Cães</p>
                            </div>
                            <div class="cardBotao">
                                <button>Comprar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="card">
                        <div class="cardImg">
                            <img src="img/RaçãoBiofresh.jpg" alt="">
                        </div>
                        <div class="cardBody">
                            <div class="cardTitulo">
                                <p>Ração Biofresh p/ Cães</p>
                            </div>
                            <div class="cardBotao">
                                <button>Comprar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <span onclick="slideLeft()" class="btn"></span>
        </div>
    </div>

<!-- ----------------------------------------------------- -->

<!-- ----------------------- CARDS ----------------------- -->

<div class="tituloCards">
    <h2>Promoções!</h2>
</div>

<section class="promocoes">

     <div class="card">
        <div class="cardImg">
            <img src="../img/RaçãoBiofreshCães1.jpg" alt="">
        </div>
        <div class="cardBody">
            <div class="cardTitulo">
                <p>Ração Biofresh p/ Cães</p>
            </div>
            <div class="cardPreco">
                <p>R$00,00</p>
            </div>
            <div class="cardBotao">
                <button>Comprar</button>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="cardImg">
            <img src="../img/RaçãoBiofreshCães1.jpg" alt="">
        </div>
        <div class="cardBody">
            <div class="cardTitulo">
                <p>Ração Biofresh p/ Cães</p>
            </div>
            <div class="cardPreco">
                <p>R$00,00</p>
            </div>
            <div class="cardBotao">
                <button>Comprar</button>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="cardImg">
            <img src="../img/RaçãoBiofreshCães1.jpg" alt="">
        </div>
        <div class="cardBody">
            <div class="cardTitulo">
                <p>Ração Biofresh p/ Cães</p>
            </div>
            <div class="cardPreco">
                <p>R$00,00</p>
            </div>
            <div class="cardBotao">
                <button>Comprar</button>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="cardImg">
            <img src="../img/RaçãoBiofreshCães1.jpg" alt="">
        </div>
        <div class="cardBody">
            <div class="cardTitulo">
                <p>Ração Biofresh p/ Cães</p>
            </div>
            <div class="cardPreco">
                <p>R$00,00</p>
            </div>
            <div class="cardBotao">
                <button>Comprar</button>
            </div>
        </div>
    </div>

</section>

<!-- ----------------------------------------------------- -->

<!-- ----------------------- CARDS ----------------------- -->

<div class="tituloCards">
    <h2>Recomendados para Você!</h2>
</div>

<section class="recomendados">
    <div class="card">
        <div class="cardImg">
            <img src="../img/RaçãoBiofreshCães1.jpg" alt="">
        </div>
        <div class="cardBody">
            <div class="cardTitulo">
                <p>Ração Biofresh p/ Cães</p>
            </div>
            <div class="cardPreco">
                <p>R$00,00</p>
            </div>
            <div class="cardBotao">
                <button>Comprar</button>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="cardImg">
            <img src="../img/RaçãoBiofreshCães1.jpg" alt="">
        </div>
        <div class="cardBody">
            <div class="cardTitulo">
                <p>Ração Biofresh p/ Cães</p>
            </div>
            <div class="cardPreco">
                <p>R$00,00</p>
            </div>
            <div class="cardBotao">
                <button>Comprar</button>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="cardImg">
            <img src="../img/RaçãoBiofreshCães1.jpg" alt="">
        </div>
        <div class="cardBody">
            <div class="cardTitulo">
                <p>Ração Biofresh p/ Cães</p>
            </div>
            <div class="cardPreco">
                <p>R$00,00</p>
            </div>
            <div class="cardBotao">
                <button>Comprar</button>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="cardImg">
            <img src="../img/RaçãoBiofreshCães1.jpg" alt="">
        </div>
        <div class="cardBody">
            <div class="cardTitulo">
                <p>Ração Biofresh p/ Cães</p>
            </div>
            <div class="cardPreco">
                <p>R$00,00</p>
            </div>
            <div class="cardBotao">
                <button>Comprar</button>
            </div>
        </div>
    </div>

</section>

<!-- ----------------------------------------------------- -->

 <!-- ----------------------- CARDS ----------------------- -->

 <div class="tituloCards">
    <h2>Nossos Serviços!</h2>
</div>

<section class="servicos">

    <div class="cardS">
        <div class="cardSImg">
            <img src="../img/CarrosselBanho&Tosa.png" alt="">
        </div>
        <div class="cardSBody">
            <div class="cardSTitulo">
                <p>Banho & Tosa Básico</p>
            </div>
            <div class="cardSPreco">
                <p>R$39,90</p>
            </div>
            <div class="cardSBotao">
                <button>Agendar</button>
            </div>
        </div>
    </div>

    <div class="cardS">
        <div class="cardSImg">
            <img src="../img/CarrosselBanho&Tosa.png" alt="">
        </div>
        <div class="cardSBody">
            <div class="cardSTitulo">
                <p>Veterinário</p>
            </div>
            <div class="cardSPreco">
                <p>R$00,00</p>
            </div>
            <div class="cardSBotao">
                <button>Agendar</button>
            </div>
        </div>
    </div>

    <div class="cardS">
        <div class="cardSImg">
            <img src="../img/CarrosselBanho&Tosa.png" alt="">
        </div>
        <div class="cardSBody">
            <div class="cardSTitulo">
                <p>Adestramento</p>
            </div>
            <div class="cardSPreco">
                <p>R$00,00</p>
            </div>
            <div class="cardSBotao">
                <button>Agendar</button>
            </div>
        </div>
    </div>


</section>

<!-- ----------------------------------------------------- -->
