 <!-- ----------------------- CARDS ----------------------- -->

 <div class="maisVendidos">
    <div class="tituloCards">
        <h2>Mais Vendidos!</h2>
    </div>

    <div id="container1">
        <div id="slider-container1">
            <span onclick="slideRight1()" class="btn"></span>
            <div id="slider1">
                <div class="slide">
                    <div class="card produto" id="produto1">
                        <div class="cardImg">
                            <img src="assets/image/RaçãoBiofreshCães1.jpg" alt="Produto 1">
                        </div>
                        <div class="cardBody">
                            <div class="cardTitulo">
                                <p>Ração Biofresh p/ Cães</p>
                            </div>
                            <div class="cardPreco">
                                <p>R$ 200,00</p>
                            </div>
                            <div class="cardBotao">
                                <button onclick="adicionarProduto('produto1')">Comprar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="card produto" id="produto2">
                        <div class="cardImg">
                            <img src="assets/image/RaçãoBiofreshCães1.jpg" alt="Produto 2">
                        </div>
                        <div class="cardBody">
                            <div class="cardTitulo">
                                <p>Ração Biofresh p/ Cães</p>
                            </div>
                            <div class="cardPreco">
                                <p>R$ 200,00</p>
                            </div>
                            <div class="cardBotao">
                                <button onclick="adicionarProduto('produto2')">Comprar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="card">
                        <div class="cardImg">
                            <img src="assets/image/RaçãoBiofreshCães1.jpg" alt="">
                        </div>
                        <div class="cardBody">
                            <div class="cardTitulo">
                                <p>Ração Biofresh p/ Cães</p>
                            </div>
                            <div class="cardPreco">
                                <p>R$00,00</p>
                            </div>
                            <div class="cardBotao">
                                <button>Comprar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="card">
                        <div class="cardImg">
                            <img src="assets/image/RaçãoBiofreshCães1.jpg" alt="">
                        </div>
                        <div class="cardBody">
                            <div class="cardTitulo">
                                <p>Ração Biofresh p/ Cães</p>
                            </div>
                            <div class="cardPreco">
                                <p>R$00,00</p>
                            </div>
                            <div class="cardBotao">
                                <button>Comprar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="card">
                        <div class="cardImg">
                            <img src="assets/image/RaçãoBiofreshCães1.jpg" alt="">
                        </div>
                        <div class="cardBody">
                            <div class="cardTitulo">
                                <p>Ração Biofresh p/ Cães</p>
                            </div>
                            <div class="cardPreco">
                                <p>R$00,00</p>
                            </div>
                            <div class="cardBotao">
                                <button>Comprar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="card">
                        <div class="cardImg">
                            <img src="assets/image/RaçãoBiofreshCães1.jpg" alt="">
                        </div>
                        <div class="cardBody">
                            <div class="cardTitulo">
                                <p>Ração Biofresh p/ Cães</p>
                            </div>
                            <div class="cardBotao">
                                <button>Comprar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="card">
                        <div class="cardImg">
                            <img src="assets/image/RaçãoBiofreshCães1.jpg" alt="">
                        </div>
                        <div class="cardBody">
                            <div class="cardTitulo">
                                <p>Ração Biofresh p/ Cães</p>
                            </div>
                            <div class="cardBotao">
                                <button>Comprar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <span onclick="slideLeft1()" class="btn"></span>
        </div>
    </div>
</div>



<!-- ----------------------------------------------------- -->

<!-- ----------------------- CARDS ----------------------- -->

<div class="tituloCards">
    <h2>Promoções!</h2>
</div>

<!-- Carrossel 2 -->
<div id="container2">
    <div id="slider-container2">
        <span onclick="slideRight2()" class="btn"></span>
        <div id="slider2">
            <div class="slide">
                <div class="card">
                    <div class="cardImg">
                        <img src="assets/image/RaçãoBiofreshCães1.jpg" alt="">
                    </div>
                    <div class="cardBody">
                        <div class="cardTitulo">
                            <p>Ração Biofresh p/ Cães</p>
                        </div>
                        <div class="cardPreco">
                            <p>R$00,00</p>
                        </div>
                        <div class="cardBotao">
                            <button>Comprar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="card">
                    <div class="cardImg">
                        <img src="assets/image/RaçãoBiofreshCães1.jpg" alt="">
                    </div>
                    <div class="cardBody">
                        <div class="cardTitulo">
                            <p>Ração Biofresh p/ Cães</p>
                        </div>
                        <div class="cardPreco">
                            <p>R$00,00</p>
                        </div>
                        <div class="cardBotao">
                            <button>Comprar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="card">
                    <div class="cardImg">
                        <img src="assets/image/RaçãoBiofreshCães1.jpg" alt="">
                    </div>
                    <div class="cardBody">
                        <div class="cardTitulo">
                            <p>Ração Biofresh p/ Cães</p>
                        </div>
                        <div class="cardPreco">
                            <p>R$00,00</p>
                        </div>
                        <div class="cardBotao">
                            <button>Comprar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="card">
                    <div class="cardImg">
                        <img src="assets/image/RaçãoBiofreshCães1.jpg" alt="">
                    </div>
                    <div class="cardBody">
                        <div class="cardTitulo">
                            <p>Ração Biofresh p/ Cães</p>
                        </div>
                        <div class="cardPreco">
                            <p>R$00,00</p>
                        </div>
                        <div class="cardBotao">
                            <button>Comprar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="card">
                    <div class="cardImg">
                        <img src="assets/image/RaçãoBiofreshCães1.jpg" alt="">
                    </div>
                    <div class="cardBody">
                        <div class="cardTitulo">
                            <p>Ração Biofresh p/ Cães</p>
                        </div>
                        <div class="cardPreco">
                            <p>R$00,00</p>
                        </div>
                        <div class="cardBotao">
                            <button>Comprar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="card">
                    <div class="cardImg">
                        <img src="assets/image/RaçãoBiofreshCães1.jpg" alt="">
                    </div>
                    <div class="cardBody">
                        <div class="cardTitulo">
                            <p>Ração Biofresh p/ Cães</p>
                        </div>
                        <div class="cardBotao">
                            <button>Comprar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="card">
                    <div class="cardImg">
                        <img src="assets/image/RaçãoBiofreshCães1.jpg" alt="">
                    </div>
                    <div class="cardBody">
                        <div class="cardTitulo">
                            <p>Ração Biofresh p/ Cães</p>
                        </div>
                        <div class="cardBotao">
                            <button>Comprar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <span onclick="slideLeft2()" class="btn"></span>
    </div>
</div>

<!-- ----------------------------------------------------- -->

<!-- ----------------------- CARDS ----------------------- -->

<div class="tituloCards">
    <h2>Recomendados para Você!</h2>
</div>

<!-- Carrossel 3 -->
<div id="container3">
    <div id="slider-container3">
        <span onclick="slideRight3()" class="btn"></span>
        <div id="slider3">
            <div class="slide">
                <div class="card">
                    <div class="cardImg">
                        <img src="assets/image/RaçãoBiofreshCães1.jpg" alt="">
                    </div>
                    <div class="cardBody">
                        <div class="cardTitulo">
                            <p>Ração Biofresh p/ Cães</p>
                        </div>
                        <div class="cardPreco">
                            <p>R$00,00</p>
                        </div>
                        <div class="cardBotao">
                            <button>Comprar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="card">
                    <div class="cardImg">
                        <img src="assets/image/RaçãoBiofreshCães1.jpg" alt="">
                    </div>
                    <div class="cardBody">
                        <div class="cardTitulo">
                            <p>Ração Biofresh p/ Cães</p>
                        </div>
                        <div class="cardPreco">
                            <p>R$00,00</p>
                        </div>
                        <div class="cardBotao">
                            <button>Comprar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="card">
                    <div class="cardImg">
                        <img src="assets/image/RaçãoBiofreshCães1.jpg" alt="">
                    </div>
                    <div class="cardBody">
                        <div class="cardTitulo">
                            <p>Ração Biofresh p/ Cães</p>
                        </div>
                        <div class="cardPreco">
                            <p>R$00,00</p>
                        </div>
                        <div class="cardBotao">
                            <button>Comprar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="card">
                    <div class="cardImg">
                        <img src="assets/image/RaçãoBiofreshCães1.jpg" alt="">
                    </div>
                    <div class="cardBody">
                        <div class="cardTitulo">
                            <p>Ração Biofresh p/ Cães</p>
                        </div>
                        <div class="cardPreco">
                            <p>R$00,00</p>
                        </div>
                        <div class="cardBotao">
                            <button>Comprar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="card">
                    <div class="cardImg">
                        <img src="assets/image/RaçãoBiofreshCães1.jpg" alt="">
                    </div>
                    <div class="cardBody">
                        <div class="cardTitulo">
                            <p>Ração Biofresh p/ Cães</p>
                        </div>
                        <div class="cardPreco">
                            <p>R$00,00</p>
                        </div>
                        <div class="cardBotao">
                            <button>Comprar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="card">
                    <div class="cardImg">
                        <img src="assets/image/RaçãoBiofreshCães1.jpg" alt="">
                    </div>
                    <div class="cardBody">
                        <div class="cardTitulo">
                            <p>Ração Biofresh p/ Cães</p>
                        </div>
                        <div class="cardBotao">
                            <button>Comprar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="card">
                    <div class="cardImg">
                        <img src="assets/image/RaçãoBiofreshCães1.jpg" alt="">
                    </div>
                    <div class="cardBody">
                        <div class="cardTitulo">
                            <p>Ração Biofresh p/ Cães</p>
                        </div>
                        <div class="cardBotao">
                            <button>Comprar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <span onclick="slideLeft3()" class="btn"></span>
    </div>
</div>

<!-- ----------------------------------------------------- -->

<!-- ----------------------- CARDS ----------------------- -->
