<div class="tituloCards">
    <h2>Rações</h2>
</div>

<section class="racoesEpetiscos">
    <div class="card">
        <div class="cardImg">
            <img src="assets/image/RaçãoReinoDasAves.jpg" alt="">
        </div>
        <div class="cardBody">
            <div class="cardTitulo">
                <p>Ração Reino das Aves</p>
            </div>
            <div class="cardPreco">
                <p>R$00,00</p>
            </div>
            <div class="cardBotao">
                <button>Comprar</button>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="cardImg">
            <img src="assets/image/RaçãoReinoDasAves.jpg" alt="">
        </div>
        <div class="cardBody">
            <div class="cardTitulo">
                <p>Ração Reino das Aves</p>
            </div>
            <div class="cardPreco">
                <p>R$00,00</p>
            </div>
            <div class="cardBotao">
                <button>Comprar</button>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="cardImg">
            <img src="assets/image/RaçãoReinoDasAves.jpg" alt="">
        </div>
        <div class="cardBody">
            <div class="cardTitulo">
                <p>Ração Reino das Aves</p>
            </div>
            <div class="cardPreco">
                <p>R$00,00</p>
            </div>
            <div class="cardBotao">
                <button>Comprar</button>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="cardImg">
            <img src="assets/image/RaçãoReinoDasAves.jpg" alt="">
        </div>
        <div class="cardBody">
            <div class="cardTitulo">
                <p>Ração Reino das Aves</p>
            </div>
            <div class="cardPreco">
                <p>R$00,00</p>
            </div>
            <div class="cardBotao">
                <button>Comprar</button>
            </div>
        </div>
    </div>

</section>

<!-- ----------------------------------------------------- -->

<!-- ----------------------- CARDS ----------------------- -->

<div class="tituloCards">
    <h2>Brinquedos</h2>
</div>

<section class="brinquedos">
    <div class="card">
        <div class="cardImg">
            <img src="assets/image/RaçãoReinoDasAves.jpg" alt="">
        </div>
        <div class="cardBody">
            <div class="cardTitulo">
                <p>Ração Reino das Aves</p>
            </div>
            <div class="cardPreco">
                <p>R$00,00</p>
            </div>
            <div class="cardBotao">
                <button>Comprar</button>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="cardImg">
            <img src="assets/image/RaçãoReinoDasAves.jpg" alt="">
        </div>
        <div class="cardBody">
            <div class="cardTitulo">
                <p>Ração Reino das Aves</p>
            </div>
            <div class="cardPreco">
                <p>R$00,00</p>
            </div>
            <div class="cardBotao">
                <button>Comprar</button>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="cardImg">
            <img src="assets/image/RaçãoReinoDasAves.jpg" alt="">
        </div>
        <div class="cardBody">
            <div class="cardTitulo">
                <p>Ração Reino das Aves</p>
            </div>
            <div class="cardPreco">
                <p>R$00,00</p>
            </div>
            <div class="cardBotao">
                <button>Comprar</button>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="cardImg">
            <img src="assets/image/RaçãoReinoDasAves.jpg" alt="">
        </div>
        <div class="cardBody">
            <div class="cardTitulo">
                <p>Ração Reino das Aves</p>
            </div>
            <div class="cardPreco">
                <p>R$00,00</p>
            </div>
            <div class="cardBotao">
                <button>Comprar</button>
            </div>
        </div>
    </div>

</section>

<!-- ----------------------------------------------------- -->

<!-- ----------------------- CARDS ----------------------- -->

<div class="tituloCards">
    <h2>Acessórios</h2>
</div>

<section class="acessorios">
    <div class="card">
        <div class="cardImg">
            <img src="assets/image/RaçãoReinoDasAves.jpg" alt="">
        </div>
        <div class="cardBody">
            <div class="cardTitulo">
                <p>Ração Reino das Aves</p>
            </div>
            <div class="cardPreco">
                <p>R$00,00</p>
            </div>
            <div class="cardBotao">
                <button>Comprar</button>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="cardImg">
            <img src="assets/image/RaçãoReinoDasAves.jpg" alt="">
        </div>
        <div class="cardBody">
            <div class="cardTitulo">
                <p>Ração Reino das Aves</p>
            </div>
            <div class="cardPreco">
                <p>R$00,00</p>
            </div>
            <div class="cardBotao">
                <button>Comprar</button>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="cardImg">
            <img src="assets/image/RaçãoReinoDasAves.jpg" alt="">
        </div>
        <div class="cardBody">
            <div class="cardTitulo">
                <p>Ração Reino das Aves</p>
            </div>
            <div class="cardPreco">
                <p>R$00,00</p>
            </div>
            <div class="cardBotao">
                <button>Comprar</button>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="cardImg">
            <img src="assets/image/RaçãoReinoDasAves.jpg" alt="">
        </div>
        <div class="cardBody">
            <div class="cardTitulo">
                <p>Ração Reino das Aves</p>
            </div>
            <div class="cardPreco">
                <p>R$00,00</p>
            </div>
            <div class="cardBotao">
                <button>Comprar</button>
            </div>
        </div>
    </div>

</section>

<!-- ----------------------------------------------------- -->

<!-- ----------------------- CARDS ----------------------- -->

<div class="tituloCards">
    <h2>Conforto</h2>
</div>

<section class="conforto">
    <div class="card">
        <div class="cardImg">
            <img src="assets/image/RaçãoReinoDasAves.jpg" alt="">
        </div>
        <div class="cardBody">
            <div class="cardTitulo">
                <p>Ração Reino das Aves</p>
            </div>
            <div class="cardPreco">
                <p>R$00,00</p>
            </div>
            <div class="cardBotao">
                <button>Comprar</button>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="cardImg">
            <img src="assets/image/RaçãoReinoDasAves.jpg" alt="">
        </div>
        <div class="cardBody">
            <div class="cardTitulo">
                <p>Ração Reino das Aves</p>
            </div>
            <div class="cardPreco">
                <p>R$00,00</p>
            </div>
            <div class="cardBotao">
                <button>Comprar</button>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="cardImg">
            <img src="assets/image/RaçãoReinoDasAves.jpg" alt="">
        </div>
        <div class="cardBody">
            <div class="cardTitulo">
                <p>Ração Reino das Aves</p>
            </div>
            <div class="cardPreco">
                <p>R$00,00</p>
            </div>
            <div class="cardBotao">
                <button>Comprar</button>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="cardImg">
            <img src="assets/image/RaçãoReinoDasAves.jpg" alt="">
        </div>
        <div class="cardBody">
            <div class="cardTitulo">
                <p>Ração Reino das Aves</p>
            </div>
            <div class="cardPreco">
                <p>R$00,00</p>
            </div>
            <div class="cardBotao">
                <button>Comprar</button>
            </div>
        </div>
    </div>

</section>

<!-- ----------------------------------------------------- -->