   <!------------------------------------------->

   <div class="container">
    <div class="produto">
        <div class="produtoImg">
            <img src="assets/image/ColeiraCachorro1.png" alt="">
        </div>

        <div class="infosGeral">
            <div class="produtoNome">
                <h2>Nome do Produto</h2>
            </div>

            <div class="produtoInfos">
                <select class="quant" id="quant">
                    <option value="1">Quantidade: 1</option>
                    <option value="2">Quantidade: 2</option>
                    <option value="3">Quantidade: 3</option>
                </select>
                <div class="produtoValor">R$00,00</div>
            </div>
            <div class="produtoAcoes">
                <a href="produto.html">Editar</a>
                <a href="">Excluir Produto</a>
            </div>
        </div>
    </div>

    <div class="finalizarCompra">
        <div class="frete">
            <label for="frete">Calcular Frete</label>
            <input type="text" name="inserirFrete" id="lfrete">
            <input type="submit" name="enviarFrete" id="bfrete">
            <div class="valorFrete">
                <h3>Frete: </h3>
            </div>
        </div>
        <div class="resumoPedido">
            <p>Resumo do Pedido</p>
            <hr>
            <div class="subtotal">
                <h3>Subtotal</h3>
                <h4>R$00,00</h4>
            </div>
            <div class="total">
                <h3>Total</h3>
                <h3>R$00,00</h3>
            </div>
            <div class="comprar">
                <button>Comprar</button>
            </div>
        </div>
    </div>

</div>