body {
    background-color: #ffffff;
    margin: 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 12vh;
    margin-bottom: 50px;
    background-color: #3ac9c5;
}

.navIcon {
    height: 80px;
    width: 95px;
}

.link {
    font-family: "Bevan", serif;
    font-size: 15px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 0 35px;
    margin-bottom: 30px;
    transition: 0.30s;
}

.link:hover {
    color: #FCB212;
}





.agendamento {
    display: flex;
    justify-content: center;
    margin-left: 60px;
    margin-right: 60px;
}

.agendamento .infosAgenda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #3ac9c5;
    width: 700px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.agendamento .infosAgenda h2 {
    font-family: 'Bevan', serif;
    color: #ffffff;
    font-size: 27px;
}

.agendaIcon img {
    width: 180px;
}

.agendamento .opcoesAgenda {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.opcoesAgenda {
    display: flex;
    flex-direction: column;
    width: 590px;
    height: 650px;
    background: #eeeeee;
}

.opcoesAgenda .consultaInfos select {
    border: solid 1px black;
    border-radius: 13px;
    font-weight: 600;
    height: 40px;
    width: 407px;
}

.opcoesAgenda label {
    font-family: 'Bevan', serif;
    font-size: 13px;
}

.opcoesAgenda .horarioInfos select {
    border: solid 1px black;
    border-radius: 13px;
    font-weight: 600;
    height: 40px;
    width: 407px;
}

.opcoesAgenda .dataInfos select {
    border: solid 1px black;
    border-radius: 13px;
    font-weight: 600;
    height: 40px;
    width: 407px;
}

.opcoesAgenda .telefoneInfos input {
    border: solid 1px black;
    border-radius: 10px;
    font-weight: 600;
    height: 30px;
    width: 400px;
}

.opcoesAgenda .emailInfos input {
    border: solid 1px black;
    border-radius: 10px;
    font-weight: 600;
    height: 30px;
    width: 400px;
}

.opcoesAgenda .observacoesInfos textarea {
    border: solid 1px black;
    border-radius: 13px;
    font-weight: 600;
    resize: none;
    height: 110px;
    width: 400px;
}

.opcoesAgenda .enviarInfos input {
    background: #3ac9c5;
    color: #ffffff;
    font-weight: 700;
    font-size: 17px;
    border: none;
    width: 160px;
    height: 45px;
    transition: 0.30s;
    border-radius: 27px;
}

.opcoesAgenda .enviarInfos input:hover {
    background: #41dfd9;
}

.opcoesAgenda .enviarInfos {
    margin-top: 35px;
}

.opcoesAgenda .enviarInfos {
    display: flex;
    justify-content: center;
}


.opcoesAgenda select {
    margin-bottom: 15px;
}

.opcoesAgenda input {
    margin-bottom: 15px;
}

