body {
  background-color: #ffffff;
  margin: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 15vh;
  margin-bottom: 50px;
  background-color: #3ac9c5;
}

.navIcon {
  height: 80px;
  width: 95px;
}

.link {
  font-family: "Bevan", serif;
  font-size: 15px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin: 0 35px;
  margin-bottom: 30px;
}




.cadastro {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 465px;
  background: #eeeeee;
  border-radius: 20px;
  margin: 0 auto;
}

.cadastro .imgCadastro {
  display: flex;
  align-items: center;
}

.cadastro .imgCadastro img {
  width: 750px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.cadastro .formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 20px;
  width: 800px;
  height: 465px;
}

.formulario input {
  width: 155px;
  height: 25px;
  margin-top: 7px;
  border: solid 1px #939393;
  border-radius: 10px;
}

.formulario input:not(:last-child) {
  margin-bottom: 30px;
  width: 155px;
}



.cadastro .formulario2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 20px;
  width: 800px;
  height: 465px;
}

.formulario2 input {
  width: 155px;
  height: 25px;
  margin-top: 7px;
  border: solid 1px #939393;
  border-radius: 10px;
}

.formulario2 input:not(:last-child) {
  margin-bottom: 30px;
  width: 155px;
}

.enviarCadastro {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
